
$heder-zindex: 5;

//== color
$gray-white: #f4f4f4;
$gray-pale: #f5f6f7;
$gray: #ddd;
$gray-back: #d9d9d9;
$gray-dot: #bdb7c4;
$gray-dark: #4a4a4a;
$gray-darker: #333;
$red: #f5314b;
$red-over: #db2c43;
$yellow: #f2be2e;
$yellow-over: #e6b42c;
$green: green;
$pale: #f6f2fa;
$purple: #6035bd;

$title-color: #230f3b;
$font-color: #9b9b9b;
$over-bg: #130821;

//== body default css
$body-color: #f4f4f4;
$thame-background-color: #f5f6f7;
$body-height: 600px;
$body-width: 375px;

//== basic
$font-size-base: 14px;
